<template>
  <div class="text-center">
    <b-form-input v-model="month" placeholder="Month"></b-form-input>
    <b-form-input v-model="total_price" placeholder="Total price"></b-form-input>
    <b-form-input v-model="food" placeholder="Restaurant and food"></b-form-input>
    <b-form-input v-model="transport" placeholder="Transport"></b-form-input>
    <b-form-input v-model="shopping" placeholder="Shopping"></b-form-input>
    <br />
    <button class="btn btn-info"  v-on:click="storeData">Save</button>
  </div>
</template>
<script>
  export default {
    data() {
      return {
         month: "July",
         total_price: null,
         food: null,
         transport: null,
         shopping: null,
      }
    },
    methods: {
      storeData() {
          let total_price = this.total_price;
          let food = this.food;
          let transport = this.transport;
          let shopping = this.shopping;
          if(total_price == null) {
            alert('enter total price');    
          } else {
            localStorage.total_price = total_price;
            localStorage.food = food;
            localStorage.transport = transport;
            localStorage.shopping = shopping;
            this.$router.push('/') 
          }
      }
    }
  }
</script>
<style scoped>
  .text-center{
    padding-top: 5%;
  }
  .form-control{
    margin-right: auto;
    margin-top: 5px;
    margin-left: auto;
    width: 80%;
  }

</style>
