<template>
    <div>
        <div class="text">
            <h3>Who are you and why you're standing here?</h3>
            <p>It doesn't matter if you're building the next Facebook, or if you're the director of marketing for an industrial company.</p>
            <hr>
            <p>By <strong>Nocholas O'Brian</strong></p>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
    div{
        background-image: url("../assets/Overlay.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: 445px;
    }
    .text{
        padding-top: 73%;
        margin: 20px;
    }
</style>
