<template>
    <div>
        <template>
            <div class="term">
              <h4 class="month">July</h4>
            </div>
            <vc-donut
                background="#161823" foreground="#0E0F1A"
                :size="200" unit="px" :thickness="30"
                has-legend legend-placement="top"
                :sections="sections" :total="100"
                :start-angle="0"
                @section-click="handleSectionClick"
            >
                <h1 style="color: white;top: 30px;" class="balance">${{this.getPrice()}} <h5>balance</h5></h1>
            </vc-donut>
            <div class="reports">
              <h2 class="resPrice" style="--Bcolor: white;">+${{this.total_price}}</h2>
              <h2 class="resPrice" style="--Bcolor: red; float: right">-${{this.sumExpenses()}}</h2>
            </div>
        </template>
    </div>
</template>
<script>
  export default {
    data() {
      return {
        total_price: Number(!isNaN(localStorage.total_price) ? localStorage.total_price : 0),
        food: Number(!isNaN(localStorage.food) ? localStorage.food : 0),
        transport: Number(!isNaN(localStorage.transport) ? localStorage.transport : 0),
        shopping: Number(!isNaN(localStorage.shopping) ? localStorage.shopping : 0),
        sections: this.getSection()
      };
    },
    methods: {
      getPrice() {
          return this.total_price - this.food - this.transport - this.shopping;
      },
      sumExpenses(){
        return this.food + this.transport + this.shopping;
      },
      getSection() {
        return  [
          { label: 'Restaurant and food', value: this.getPercent(localStorage.food), color: '#FF2366' },
          { label: 'Transport', value: this.getPercent(localStorage.transport), color: '#FD3F2F' },
          { label: 'Shopping', value: this.getPercent(localStorage.shopping), color: '#8D4DE8' },
        ]
      },
      getPercent(value) {
          value = this.toNumber(value);
          let total = this.toNumber(localStorage.total_price);
          return Number(value/total*100);
      },
      toNumber(value) {
        return Number(!isNaN(value) ? value : 0);
      }
    }
  };
</script>
<style scoped>
  .cdc-container{
    flex-direction: column-reverse !important;
  }
  .term{
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 3%;
    background-color: #0E0F1A;
    display:inline-block;
    width: 100%;
    text-align: center;
  }
  .month{
    display:inline-block;
    border-bottom: 2px solid #0B78E3;
    width: 20%;
    padding-bottom: 4px;
  }
  .reports{
    margin-top: 10%;
  }
  .resPrice{
    display: inline-block;
    width: 140px;
    height: 45px;
    text-align: center;
    border: 1px solid var(--Bcolor);
    border-radius: 3px;
    margin-left: 6%;
    margin-right: 6%;
  }
</style>