<template>
  <div id="app">
      <div class="block">
        <router-view />   
      </div>
      <b-nav>
          
            <b-nav-item>
                <router-link to='/'>
                    <svg 
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="0.208in" height="0.278in">
                        <path fill-rule="evenodd"  opacity="0.302" fill="rgb(255, 255, 255)"
                        d="M13.200,0.000 L1.800,0.000 C0.808,0.000 0.000,0.814 0.000,1.814 L0.000,17.726 C0.000,18.637 0.528,19.461 1.343,19.818 C1.623,19.941 1.915,20.000 2.205,20.000 C2.924,20.000 3.621,19.636 4.040,18.986 L7.512,13.608 L10.961,18.960 C11.380,19.611 12.078,19.976 12.798,19.976 C13.087,19.976 13.380,19.917 13.660,19.794 C14.473,19.437 15.000,18.613 15.000,17.702 L15.000,1.814 C15.000,0.814 14.193,0.000 13.200,0.000 "/>
                    </svg>
                </router-link>
            </b-nav-item>
            <b-nav-item><router-link to='/statistic'>
                <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="0.278in" height="0.278in">
                    <path fill-rule="evenodd"  opacity="0.302" fill="rgb(255, 255, 255)"
                        d="M10.477,17.046 L10.477,10.661 L17.045,10.661 L17.045,15.960 C17.045,16.559 16.559,17.046 15.960,17.046 L10.477,17.046 ZM8.523,1.954 L8.523,8.706 L1.954,8.706 L1.954,3.040 C1.954,2.441 2.441,1.954 3.040,1.954 L8.523,1.954 ZM0.000,2.172 L0.000,16.829 C0.000,18.028 0.972,19.000 2.171,19.000 L16.829,19.000 C18.028,19.000 19.000,18.028 19.000,16.829 L19.000,2.172 C19.000,0.972 18.028,-0.000 16.829,-0.000 L2.171,-0.000 C0.972,-0.000 0.000,0.972 0.000,2.172 L0.000,2.172 Z"/>
                </svg>
            </router-link></b-nav-item>
            <b-nav-item><router-link to='/notification'>
                <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="0.264in" height="0.264in">
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                        d="M11.579,18.846 L11.579,18.846 M11.579,18.846 L7.323,18.846 C7.323,20.031 8.270,21.000 9.451,21.000 C10.621,21.000 11.579,20.031 11.579,18.846 M9.451,-0.000 C8.568,-0.000 7.855,0.721 7.855,1.615 L7.855,2.348 C4.801,3.080 3.067,5.837 3.067,9.154 L3.067,14.539 L0.939,16.692 L0.939,17.770 L17.963,17.770 L17.963,16.692 L15.835,14.539 L15.835,9.154 C15.835,5.848 14.090,3.080 11.047,2.348 L11.047,1.615 C11.047,0.721 10.334,-0.000 9.451,-0.000 "/>
                </svg>
            </router-link></b-nav-item>
            <b-nav-item><router-link to='/news'>
                    <svg 
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="0.25in" height="0.278in">
                        <path fill-rule="evenodd"  opacity="0.302" fill="rgb(255, 255, 255)"
                        d="M16.000,19.992 L2.000,19.992 C0.895,19.992 0.000,19.089 0.000,17.975 L0.000,7.342 C0.000,6.689 0.312,6.078 0.838,5.699 L8.419,0.237 C8.766,-0.013 9.234,-0.013 9.581,0.237 L17.162,5.699 C17.688,6.078 18.000,6.689 18.000,7.342 L18.000,17.975 C18.000,19.089 17.105,19.992 16.000,19.992 "/>
                    </svg>
            </router-link></b-nav-item>
            <b-nav-item><router-link to='/login'>
                    <svg 
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="0.25in" height="0.292in">
                        <path fill-rule="evenodd"  opacity="0.302" fill="rgb(255, 255, 255)"
                        d="M10.000,12.500 C6.662,12.500 -0.000,14.175 -0.000,17.500 L-0.000,20.000 L20.000,20.000 L20.000,17.500 C20.000,14.175 13.338,12.500 10.000,12.500 M10.000,-0.001 C7.238,-0.001 5.000,2.237 5.000,5.000 C5.000,7.763 7.238,10.000 10.000,10.000 C12.762,10.000 15.000,7.763 15.000,5.000 C15.000,2.237 12.762,-0.001 10.000,-0.001 "/>
                    </svg>
            </router-link></b-nav-item>
        </b-nav>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
    
  }
}
</script>
<style>
#app{
    margin: 2rem auto 0 auto;
    max-width: 370px;
}
.block { 
    width: 100%;
    height: 500px !important;
    color: #fff;
    background-color: #161823;
}

h1,
h6 {
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
}
.nav{
    justify-content: space-around;
    background-color: #161823;
}
</style>
